.splash-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-image: url('../assets/SplashScreen_Background_wLeaves.png');
    background-size: 3000px 2000px;
    background-position: center;
}

.splash-screen-disclaimer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.4);
}

body {
    font-family: 'Century Gothic';
}

.splash-screen-toplevel-vertical-divide {
    display: flex;
}

.splash-screen-toplevel-half.left {
    display: flex; 
    flex-direction: column; 
    width: 45%;
    height: 100vh;
    justify-content: space-between;
}

.splash-screen-toplevel-half.left.mobile {
    width: 100%;
    overflow-x: hidden;
}

.mobile > .sponsors-panel > .credit-icon.sponsor {
    height: 20px;
    margin: 2px;
    padding: 3px 5px
}

.mobile > .sponsors-panel > .credit-icon.sponsor:last-of-type {
    padding-right: 10px
}

.mobile > .body-panel {
    width: 90%;
    overflow-x: hidden;
    margin: 0% 5%;

}

.mobile > .partners-panel {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    
}

.mobile > .partners-panel > .credit-icon.partner {
    width: min(30%, 150px);
    padding: 2px;
    margin: 2px;
}

.splash-screen-toplevel-half.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 55%;
    height: 100vh;
    margin-right: 30px;
}

.partners-panel {
    display: flex;
    justify-content: flex-start;;
    padding: 20px 10px;
    width:100%;
    flex-wrap: wrap;
}

.body-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    width: 85%;
    min-width: 150px;
    max-height: 1000px;
    overflow-y: auto;
}

.body-panel::-webkit-scrollbar {
    width: 10px;
    border-radius: 50px;
}

/* Track */

.body-panel::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    padding: 20px 0px;
}

/* Handle */

.body-panel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;    
}

.credit-icon.partner {
    width: 130px;
    margin: 2px 15px;
}

.credit-icon.lab {
    height: 200px;
    margin: 2px 15px;
}

.splashscreen-body-text-container {
    text-align: left;
    padding: 20px 2px;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4)
}

.splashscreen-body-title {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 10px;
}

.splashscreen-body-title > .emph {
    font-size: 35px;
    font-weight: bold;
}

.splashscreen-body-main:first-letter {
    float: left;
    font-family: Georgia;
    font-size: 50px;
    line-height: 40px;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 1px;
}

.splashscreen-body-main > .sub {
    padding-top: 10px;
    font-size: 0.8em;
}

.navigation-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navigation-button.gotomap:hover {
    background-color: rgb(160, 217, 213)
}

.navigation-button.minor:hover {
    background-color: rgb(160, 217, 213)
}

.navigation-button {
    border: 1px solid white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    /* text-shadow: 0px 0px 4px black; */
    border-radius: 100px;
    font-size: 1.1em;
}

.navigation-button.gotomap {
    background-color: rgb(95, 148, 144);
    border: 4px solid white;
    padding: 10px 20px;
    font-size: 1.4em;
    width: 100%;
    margin: 2px;
    color: white;
    cursor: pointer;
}

.centered-button-container {
    position: absolute;
    left: 50%;
    top: 50%;
}

.centered-button-container > .navigation-button.gotomap {
    position: relative;
    left: -50%;
    top: -50%;
    font-size: 2.4em;
}

.navigation-button.minor {
    background-color: rgb(130, 206, 198);
    padding: 6px 30px;
    margin: 2px;
    color: white;
}

.navigation-button > a {
    color: white;
    text-decoration: none;
}

.sponsors-panel {
    background-color: white;
    display: flex;
    margin-right: auto;
    border-radius: 0px 30px 0px 0px;
    flex-wrap: wrap;
}

.credit-icon.sponsor {
    height: 38px;
    margin: 2px 15px;
    padding: 3px 5px
}

.navigation-controls-parent {
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 10
}

.navigation-controls {
    position: relative;
    left: -50%;
    color: white;
    background-color: #15536D;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    border-radius: 80px;
    display: flex;
}

.navigation-icon {
    padding: 15px;
    size: 40px 40px;
    text-align: center;
    color: #95D3C3;
}

.navigation-icon.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    color: white;
    padding-left: 30px;
}

.navigation-controls> :last-child {
    padding-right: 30px;
}

/* .navigation-icon > img:hover {
    background-color:rgba(193, 241, 253, 0.9)
  } */